.container {
    /* background-color: #ccc; */
}

.input {
    background-color: #bababa;
}

.suggestionsContainer {
    background-color: 'orange';
}

.suggestion {
    background-color: 'pink';
}

.suggestionHighlighted {
    background-color: 'yellow';
}